<form (ngSubmit)=onSubmit(f) #f=ngForm>
  <table>
    <tr><td>movies</td><td><input type="text" name="movies" class="form-control" ngModel/></td></tr>
    <tr><td>Actor</td><td><input type="text" name="actor" class="form-control" ngModel/></td></tr>
    <tr><td>Actress</td><td><input type="text" name="actress" class="form-control" ngModel/></td></tr>
    <tr><td>Director</td><td><input type="text" name="director" class="form-control" ngModel/></td></tr>
    <tr><td></td><td><button type="submit" class="btn btn-warning">Submit</button></td></tr>
  </table>
  